/* 1440 + */
.b-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    transition: .2s;

    &--block {
        display: block;
    }

    .no-touchevents &:hover,
    .touchevents &:active {
        color: white; 
    }

    &.fade {
        opacity: .5;
        .transitionModOpacity();
        pointer-events: none;
    }

    &--flower {
        position: absolute;
        bottom: 0;
        border-radius: 0;
        border-color: var(--accent);
        border-width: 1px;
        background-color: var(--accent-back);
        font-size: 15px;
        padding: 16px 22px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 1px;
            background-color: var(--accent);
        }
        &:after {
            width: 11px;
            right: -5px;
            top: -1px;
        }
        &:before {
            height: 11px;
            top: -5px;
            right: -1px;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            background-color: var(--accent-hover);
        }
    }
}