/* 1440 + */
.b-button {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    transition: .2s;

    &--block {
        display: block;
    }

    .no-touchevents &:hover,
    .touchevents &:active {
        color: white;
    }

    &.fade {
        opacity: .5;
        .transitionModOpacity();
        pointer-events: none;
    }

    &--flower {
        font-family: @font-base;
        color: #fff!important;
        background: none;
        position: absolute;
        bottom: 0;
        border-radius: 0;
        border-color: var(--accent);
        border-width: 1px;
        background-color: var(--accent-back);
        font-size: 15px;
        padding: 16px 22px;

        .info {
            display: none;
        }

        &.addeventatc-selected {
            border-radius: 0;
            border-color: var(--accent);
            border-width: 1px;
        }

        /* The drop down */
        .addeventatc_dropdown {
            display: none;
            width: auto;
            position: absolute;
            top: auto!important;
            bottom: 60px;
            left: -25px!important;
            right: -25px!important;
            z-index: 9999;
            padding: 0;
            margin: 0;
            background: var(--accent-dark);
            text-align: left;
            border-radius: 0;
            box-shadow: none;
            border: none;
        }
        .addeventatc_dropdown span {
            font-family: @font-base;
            display: block;
            line-height: 100%;
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            padding: 15px 15px 15px 45px;
            background-color: transparent;
        }
        .addeventatc_dropdown span:hover {
            background-color: var(--accent-hover);
        }
        .addeventatc_dropdown em {
            color: var(--accent)!important;
            font-size: 12px!important;
        }
        .addeventatc_dropdown .frs:hover {
            color: #999!important;
        }
        .addeventatc_dropdown .copyx {
            height: 21px;
            display: block;
            position: relative;
            cursor: default;
        }
        .addeventatc_dropdown .brx {
            height: 1px;
            overflow: hidden;
            background: none;
            position: absolute;
            z-index: 100;
            left: 10px;
            right: 10px;
            top: 9px;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            background-color: var(--accent-hover);
            font-size: 15px;
            border-color: var(--accent);
        }

        &:active {
            top: auto;
        }

        &:focus {
            border-radius: 0;
            border-color: var(--accent);
            border-width: 1px;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 1px;
            background-color: var(--accent);
        }
        &:after {
            width: 11px;
            right: -5px;
            top: -1px;
        }
        &:before {
            height: 11px;
            top: -5px;
            right: -1px;
        }
    }
}