//- ====================
//- RBZ: popup
//- 16.01.2018: Amedomary
//- --------------------
//- Попап
//- ====================

mixin popup()
    //- +b('dialog').popup //пока не поддерживается
    //- ПопАп с Фикс скролом, что бы не прыгал при появлении скрола
    +b.popup&attributes( attributes )
        +e.fix-scroll
            +e.content
                //- ПопАпчики
                block
