//- ====================
//- 00-00-2017: Amed
//- --------------------
//- hamburger
//- ====================

mixin hamburger()
    +b('a').hamburger(href='javascript:void(0)', title='', class!=attributes.class)
        +e.line--top
        +e.line--mid
        +e.line--bot