//- ====================
//- 00-00-2017: Amed
//- --------------------
//- spin-circle
//- ====================

mixin spin-circle()
    +b.spin-circle(class!=attributes.class)
        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 148 139" enable-background="new 0 0 148 139" xml:space="preserve">
            <linearGradient id="svg-linear-gradient" gradientUnits="userSpaceOnUse" x1="4.6314" y1="88.0101" x2="117.9388" y2="88.0101" gradientTransform="matrix(0.1219 -0.9925 0.9925 0.1219 -19.577 115.1947)">
                <stop  offset="0" style="stop-color:#0065E9"/>
                <stop  offset="9.970063e-02" style="stop-color:#0960EA"/>
                <stop  offset="0.2656" style="stop-color:#2354ED"/>
                <stop  offset="0.4772" style="stop-color:#4C3FF1"/>
                <stop  offset="0.7263" style="stop-color:#8623F7"/>
                <stop  offset="0.9944" style="stop-color:#CC00FF"/>
            </linearGradient>
            <ellipse class="ellipse one" fill="none" stroke="url(#svg-linear-gradient)" stroke-width="2" stroke-miterlimit="10" cx="75.2" cy="65.1" rx="55.7" ry="55.7"/>
            <ellipse class="ellipse two" fill="none" stroke="url(#svg-linear-gradient)" stroke-width="2" stroke-miterlimit="10" cx="67.2" cy="66.1" rx="55.7" ry="55.7"/>
            <ellipse class="ellipse three" fill="none" stroke="url(#svg-linear-gradient)" stroke-width="2" stroke-miterlimit="10" cx="81.2" cy="69.1" rx="55.7" ry="55.7"/>
            <ellipse class="ellipse four" fill="none" stroke="url(#svg-linear-gradient)" stroke-width="2" stroke-miterlimit="10" cx="76.2" cy="74.1" rx="55.7" ry="55.7"/>
            <ellipse class="ellipse five" fill="none" stroke="url(#svg-linear-gradient)" stroke-width="2" stroke-miterlimit="10" cx="71.2" cy="70.1" rx="55.7" ry="55.7"/>        
        </svg>