include ../../node_modules/bemto.pug/bemto.pug

- set_bemto_settings({ prefix: { '': 'b-', 'js-': true, '-': false }, element: '__', modifier: '--', default_tag: 'div' })

block variables
- var requireJS = false;

doctype html
html(lang="ru", class=htmlClass, data-theme-color='1', data-theme-style='normal')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no")
        meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")
        meta(name="format-detection" content="telephone=no")
        meta(name="theme-color" content="#111011")
        meta(name="msapplication-navbutton-color" content="#111011")
        meta(name="apple-mobile-web-app-status-bar-style" content="dark")

        meta(name="msapplication-TileColor", content="#ff7a20")
        meta(name="theme-color", content="#ffffff")
        meta(property="og:image:width" content="1351")
        meta(property="og:image:height" content="707")

        link(rel="apple-touch-icon", sizes="180x180", href="images/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="images/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="images/favicon/favicon-16x16.png")
        link(rel="manifest", href="images/favicon/site.webmanifest")
        link(rel="mask-icon", href="images/favicon/safari-pinned-tab.svg", color="#000000")

        block styles
            link(href="css/main.css?" + new Date().getTime() rel="stylesheet")
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Didact+Gothic&amp;subset=cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">

        // page settings
        block head
        title= pageTitle || ''
        meta(name='description', content=pageDescription || '')
        meta(name="Keywords", content="timer, alert me, event, online clock, таймер онлайн, ждём событие вместе, часы, оповещение")

        //- <!-- Yandex.Metrika counter -->
        <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49939486 = new Ya.Metrika2({ id:49939486, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49939486" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

        <!-- update the version number as needed -->
        <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
        <!-- include only the Firebase features as you need -->
        <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-auth.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-database.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-messaging.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-storage.js"></script>

    body
        block content
        block popup

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="js/external.js")
        script(src="js/internal.js")

