/* 320 + */
.b-landing {
    &__circle {
        width: 63%;
    }

    &__description {
        display: none;
    }

    &__share {
        width: auto;
        top: 40px;
        left: auto;
        right: 40px;
        transform: none;
    }
}

.b-svg-grid {
    &__line {
        &--mobile-hide {
            display: none;
        }
    }

    &__plus {
        &--mobile-hide {
            display: none;
        }
    }
}