/* 320 + */
.icon-edit-mobile() {
    &.editable {
        .b-icon--heading-edit {
            display: none;
        }
        .no-touchevents &:hover,
        .touchevents &:active {
            .b-icon--heading-edit {
                display: none;
            }
        }
    }
}

.b-landing {
    &__background {
        transition: .3s;
        &.fade {
            filter: blur(0);
            opacity: 0;
        }
    }
    &__header {
        padding: 50px 50px 5px;
    }
    input {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: var(--accent);
        margin: 0;
        height: auto;
        transform: none;
        z-index: 123123012993921;
        width: 100%;
        padding: 50px;
        font-size: 25px;
    }

    &__link-create {
        font-size: 10px;
    }

    &__circle {
        width: 63%;
        
        &.fade {
            opacity: 0;
        }
    }

    &__description {
        left: 20px;
        right: 20px;
        bottom: 20px;
        background-color: rgba(0, 0, 0, .85);
        padding: 20px;
        .icon-edit-mobile()
    }

    &__pre-heading {
        text-align: center;
        font-size: 10px;
        margin: 0 0 8px;
        .icon-edit-mobile()
    }
    &__heading {
        text-align: center;
        font-size: 16px;
        margin: 0 0 12px;
        .icon-edit-mobile()
    }
    &__description-text {
        text-align: justify;
        font-size: 10px;
        margin: 0 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & .b-button--flower {
        font-size: 13px;
        padding: 12px 15px;
        width: auto;
        display: block;
        position: static;
    }

    &__clock {
        left: 40px;

        &.editable {
            .b-icon--clock-edit {
                display: none;
            }
            .no-touchevents &:hover,
            .touchevents &:active {
                .b-icon--clock-edit {
                    display: none;
                }
            }
        }
    }

    &__month {
        display: block;
        font-size: 25px;
        margin-bottom: 12px;
        opacity: .6;
        padding-left: 10px;
    }

    &__day {
        font-size: 60px;
        margin-right: 25px;

        .title {
            bottom: -2px;
            font-size: 10px;
        }
    }
    &__hour {
        font-size: 45px;
    }
    &__slash {
        font-size: 24px;
    }
    &__minutes {
        font-size: 23px;
    }

    &__share {
        width: auto;
        top: 40px;
        left: auto;
        right: 40px;
        transform: none;

        & .b-icon--share {
            padding: 10px;
            line-height: 20px;
            width: 40px;
            height: 40px;
        }
    }

    &__wallpaper-pick {
        display: none;
    }

    &__color-pick {
        left: 80%;
    }

    &__legend {
        display: none;
    }
}

.b-svg-grid {
    &__line {
        &--mobile-hide {
            display: none;
        }
    }

    &__plus {
        &--mobile-hide {
            display: none;
        }
    }
}