/* 320 + */
@animationHideDescription: 1s;

.icon-edit-mobile() {
    &.editable {
        .b-icon--heading-edit {
            display: none;
        }
        .no-touchevents &:hover,
        .touchevents &:active {
            .b-icon--heading-edit {
                display: none;
            }
        }
    }
}

.b-landing {
    &__background {
        transition: .3s;
        &.fade {
            filter: blur(0);
            opacity: 0;
        }
    }
    &__header {
        padding: 50px 50px 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__link-create {
        font-size: 10px;
        margin: 0;

        &--release {
            // display: block;
            width: 60%;
            margin-right: 600px;
            margin-top: 4px;
            border: none;
            padding: 5px;
            color: var(--accent-light);
            background: transparent;
            animation: none;
            // text-align: center;
            // margin: 0;
            // background-color: black;
            // width: 100%;
        }
    }

    &__circle {
        width: 63%;
        
        &.fade {
            opacity: 0;
        }
    }

    &__description {
        border: 1px solid var(--accent-hover);
        left: 20px;
        right: 20px;
        bottom: 20px;
        background-color: rgba(0, 0, 0, .85);
        padding: 20px;
        .icon-edit-mobile();
        transition: @animationHideDescription;

        &.hide {
            transform: ~"translateY(calc(100% + 30px))";

            .b-landing__heading {
                transform: translateY(-134px);
            }

            .b-landing__hide-icon {
                transform: translate(11px, -37px);

                &:before,
                &:after {
                    transform: translateX(-5px) rotate(-45deg);
                }
                &:after {
                    transform: translateX(5px) rotate(45deg);

                }
            }
        }

        input {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: var(--accent);
            margin: 0;
            height: auto;
            transform: none;
            z-index: 123123012993921;
            width: 100%;
            padding: 50px;
            font-size: 25px;
        }
    }

    &__pre-heading {
        text-align: center;
        font-size: 14px;
        margin: 0 0 8px;
        .icon-edit-mobile();
    }
    &__heading {
        text-align: center;
        font-size: 22px;
        margin: 0 0 12px;
        .icon-edit-mobile();
        transition: @animationHideDescription;

        &.editable {
            transition: @animationHideDescription;
        }

    }
    &__description-text {
        text-align: justify;
        font-size: 14px;
        margin: 0 0 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & .b-button--flower {
        font-size: 13px;
        padding: 12px 15px;
        width: auto;
        display: block;
        position: static;
    }
    &__hide-icon {
        display: block;
        position: absolute;
        top: -17px;
        right: -5px;
        width: 40px;
        height: 40px;
        z-index: 240;
        background-color: var(--accent-hover);
        transition: @animationHideDescription;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 15px;
            background-color: #fff;
            left: 32%;
            transform: translateX(5px) rotate(-45deg);
            top: 45%;
            transition: @animationHideDescription;
        }
        &:after {
            transform: translateX(-5px) rotate(45deg);

        }
    }

    &__clock {
        left: 40px;

        &.editable {
            .b-icon--clock-edit {
                display: none;
            }
            .no-touchevents &:hover,
            .touchevents &:active {
                .b-icon--clock-edit {
                    display: none;
                }
            }
        }
    }

    &__month {
        display: block;
        font-size: 25px;
        margin-bottom: 12px;
        opacity: .6;
        padding-left: 10px;
    }

    &__day {
        font-size: 60px;
        margin-right: 25px;

        .title {
            bottom: -2px;
            font-size: 10px;
        }
    }
    &__hour {
        font-size: 45px;
    }
    &__slash {
        font-size: 24px;
    }
    &__minutes {
        font-size: 23px;
    }
    &__clock-form-back {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0;
        // right: 0;
        width: auto;
        height: auto;
        padding: 12px;
    }
    &__clock-form {
        height: 100%;
        padding: 55px 25px 25px 25px;
    }

    &__share {
        width: auto;
        top: 40px;
        left: auto;
        right: 40px;
        transform: none;

        & .b-icon--share {
            padding: 10px;
            line-height: 20px;
            width: 40px;
            height: 40px;
        }
    }

    &__wallpaper-side-bar {
        min-width: 0;
        width: ~'calc(100% - 104px)';
    }

    &__wallpaper-pick {
        left: 80%;
    }

    &__color-pick {
        left: 40%;
    }

    &__legend {
        display: none;
    }

    &__clock-legend {
        display: none;
    }
}

.b-svg-grid {
    &__line {
        &--mobile-hide {
            display: none;
        }
    }

    &__plus {
        &--mobile-hide {
            display: none;
        }
    }
}