//- //- ====================
//- //- Главная страница.
//- //- ====================

//- //- Используем стандартный шаблон Project
//- extends ./template/empty_layout

//- block variables
//-     - var file_name = '3d'

//- //- Модифицируем head
//- block head
//-     - var pageTitle = '3D';

//- //- Выводим попапы
//- block popup

//- //- Выводим content
//- block content

//-     // общий класс для тестов
//-     img(src='images/content/3d-test.jpg', alt='', title='')
//-     +b.3d
//-         p 07:42 time
//-         p weekend today

//-     p 3d текст
//-     // Нужно всё 3д пространство подвести под картинку и настроить точку обзора а уже внутри двигать эелменты