//- //- ====================
//- //- Главная страница.
//- //- ====================

//- //- Используем стандартный шаблон Project
//- extends ./template/base_layout

//- block variables
//-     - var file_name = 'calculator'
//-     - var pageWrapperClass = '--scroll'
//-     - var htmlClass = 'blue'

//- //- Модифицируем head
//- block head
//-     - var pageTitle = 'Калькулятор онлайн';

//- //- Выводим попапы
//- block popup

//- //- Выводим content
//- block content
//-     include template/layout/header.pug
//-     include section/ui-kit/text-block.pug
//-     include template/layout/footer.pug

//-     +header({
//-         'hideMidLine': true
//-     }).--no-back.--only-top

//-     +b('main').main.--content.--blue
//-         .b-container
//-             include section/ui-kit/title.pug
//-             +title('h1', 'Calculator online')

//-             .calculator.calculator_js_inited
//-                 .calculator__wrapper
//-                     .calculator__screen
//-                         //- span.radio-button__text Deg
//-                         .calculator-display
//-                             .calculator-display__output
//-                                 span.calculator-display__input-string y + z
//-                                 span.link.link_pseudo_yes(data-bem='ink":{}}', tabindex='0', role='button')
//-                                     .calculator-display__input-link
//-                                 span.calculator-display__equal  = 
//-                                 span.calculator-display__result x
//-                         div.input__box
//-                             input.input__control.js-calculator-input(name='', placeholder='0', value='', autofocus='', type='tel')
//-                     .calculator__btns
//-                         .calculator__row
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text x
//-                                     span.calculator__sup y
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text x!
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text ±
//-                             button.button.button--clear.js-calculator-key(data-value='clear', autocomplete='off', tabindex='0')
//-                                 span.button__text C
//-                             button.button.js-calculator-key(data-value='brackets', autocomplete='off', tabindex='0')
//-                                 span.button__text ( )
//-                             button.button.js-calculator-key(data-value='%', autocomplete='off', tabindex='0')
//-                                 span.button__text %
//-                             button.button.js-calculator-key.button--yellow(data-value='/', autocomplete='off', tabindex='0')
//-                                 span.button__text ÷
//-                         .calculator__row
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text asin
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text sin
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text 1/x
//-                             button.button.js-calculator-key(data-value='7', autocomplete='off', tabindex='0')
//-                                 span.button__text 7
//-                             button.button.js-calculator-key(data-value='8', autocomplete='off', tabindex='0')
//-                                 span.button__text 8
//-                             button.button.js-calculator-key(data-value='9', autocomplete='off', tabindex='0')
//-                                 span.button__text 9
//-                             button.button.js-calculator-key.button--yellow(data-value='*', autocomplete='off', tabindex='0')
//-                                 span.button__text ×
//-                         .calculator__row
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text acos
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text cos
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text √
//-                             button.button.js-calculator-key(data-value='4', autocomplete='off', tabindex='0')
//-                                 span.button__text 4
//-                             button.button.js-calculator-key(data-value='5', autocomplete='off', tabindex='0')
//-                                 span.button__text 5
//-                             button.button.js-calculator-key(data-value='6', autocomplete='off', tabindex='0')
//-                                 span.button__text 6
//-                             button.button.js-calculator-key.button--yellow(data-value='-', autocomplete='off', tabindex='0')
//-                                 span.button__text −
//-                         .calculator__row
//-                             button.button.js-calculator-key.button--gray( autocomplete='off', tabindex='0')
//-                                 span.button__text atan
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text tan
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text ln
//-                             button.button.js-calculator-key(data-value='1', autocomplete='off', tabindex='0')
//-                                 span.button__text 1
//-                             button.button.js-calculator-key(data-value='2', autocomplete='off', tabindex='0')
//-                                 span.button__text 2
//-                             button.button.js-calculator-key(data-value='3', autocomplete='off', tabindex='0')
//-                                 span.button__text 3
//-                             button.button.js-calculator-key.button--yellow(data-value='+', autocomplete='off', tabindex='0')
//-                                 span.button__text +
//-                         .calculator__row
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text lg
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text π
//-                             button.button.js-calculator-key.button--gray(autocomplete='off', tabindex='0')
//-                                 span.button__text e
//-                             button.button.js-calculator-key.button--size-l(data-value='0', autocomplete='off', tabindex='0')
//-                                 span.button__text 0
//-                             button.button.js-calculator-key(data-value='.', autocomplete='off', tabindex='0')
//-                                 span.button__text ,
//-                             button.button.js-calculator-key.button--yellow(data-value='equal', autocomplete='off', tabindex='0')
//-                                 span.button__text =

//-         //- TODO: удалить бр
//-         br
//-         br
//-         br
//-         br
//-         .b-container
//-             +text-block()
//-                 h5 Реализованные фишки:
//-                 ul
//-                     li Расчёт "на лету"
//-                     li История выражения (1)
//-                     li Авто закрытие скобки
//-                     li Умножение перед скобкой
//-                     li Подсветка ошибки
//-                     li Очистка поля
//-                     li Передача значения на "=" и "Enter"
//-                     li Почти "умный ввод с клавиатуры"

//-                 h5 В разработке:
//-                 ul
//-                     li Авто замена математических аператоров
//-                     li %, +/-, ,
//-                     li Горячие клавиши для sin cos и т.д.
//-                     li Клавиша "стереть <="
            
//-     +footer()
