//- ====================
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/empty_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = '';
    - var pageDescription = '';
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://amedomary-san.github.io/">
    <meta property="og:image" content="images/inhtml/og-image.jpg">

    <script type="text/javascript" src="js/partials/addtocalendar.js" async defer></script>

    //- <meta property="og:description" content="Add events.com, timer online, create your event">

//- Выводим попапы
block popup

mixin bg-item(photo, title)
    +e('li').wallpaper-item(data-wallpaper=`images/content/${photo}`, @click='swapImageBackground')
        +e('figure').walpaper-figure
            +e('figcaption').wallpaper-title= title
            +e('img').wallpaper-preview(loading="lazy" src=`images/content/${photo}`)

//- Выводим content
block content
    include section/ui-kit/button.pug
    include section/ui-kit/icon.pug

    +b.landing#landing-app(:class='vueAppClass', v-bind:style="styleApp", v-cloak)
        +e('img').background(src='', alt='', title='', :class='vueBackClass', :src="imageSrcBackground")

        +b('svg').svg-grid
            //- фоновая сетка
            g
                +e('line').line(x1="20%" y1="0" x2="20%" y2="100%").--mobile-hide
                +e('line').line(x1="40%" y1="0" x2="40%" y2="100%")
                +e('line').line(x1="60%" y1="0" x2="60%" y2="100%").--mobile-hide
                +e('line').line(x1="80%" y1="0" x2="80%" y2="100%")

                +e('line').line(x1="0" y1="20%" x2="100%" y2="20%")
                +e('line').line(x1="0" y1="50%" x2="100%" y2="50%")
                +e('line').line(x1="0" y1="80%" x2="100%" y2="80%")

            //- рамка
            g
                +e('line').line(x1="40px" y1="40px" x2="40px" y2="100px")
                +e('line').line(x1="40px" y1="40px" x2="100px" y2="40px")

                +e('line').line(x1="calc(100% - 40px)" y1="40px" x2="calc(100% - 40px)" y2="100px")
                +e('line').line(x1="calc(100% - 100px)" y1="40px" x2="calc(100% - 40px)" y2="40px")

                +e('line').line(x1="40px" y1="calc(100% - 40px)" x2="40px" y2="calc(100% - 100px)")
                +e('line').line(x1="40px" y1="calc(100% - 40px)" x2="100px" y2="calc(100% - 40px)")

                +e('line').line(x1="calc(100% - 40px)" y1="calc(100% - 40px)" x2="calc(100% - 40px)" y2="calc(100% - 100px)")
                +e('line').line(x1="calc(100% - 100px)" y1="calc(100% - 40px)" x2="calc(100% - 40px)" y2="calc(100% - 40px)")

            //- белые плюсики
            g
                +e('rect').plus(x="40px" y="35px" width="1px" height="11px")
                +e('rect').plus(x="35px" y="40px" width="11px" height="1px")

                +e('rect').plus(x="calc(100% - 40px)" y="35px" width="1px" height="11px")
                +e('rect').plus(x="calc(100% - 45px)" y="40px" width="11px" height="1px")

                +e('rect').plus(x="calc(100% - 40px)" y="calc(100% - 45px)" width="1px" height="11px")
                +e('rect').plus(x="calc(100% - 45px)" y="calc(100% - 40px)" width="11px" height="1px")

                +e('rect').plus(x="40px" y="calc(100% - 45px)" width="1px" height="11px")
                +e('rect').plus(x="35px" y="calc(100% - 40px)" width="11px" height="1px")

                //- ----------------------------------------------------------------------
                // 1
                +e('rect').plus(x="20%" y="calc(20% - 5px)" width="1px" height="11px").--mobile-hide
                +e('rect').plus(x="calc(20% - 5px)" y="20%" width="11px" height="1px").--mobile-hide
                // 2
                +e('rect').plus(x="40%" y="calc(20% - 5px)" width="1px" height="11px")
                +e('rect').plus(x="calc(40% - 5px)" y="20%" width="11px" height="1px")
                // 3
                +e('rect').plus(x="60%" y="calc(20% - 5px)" width="1px" height="11px").--mobile-hide
                +e('rect').plus(x="calc(60% - 5px)" y="20%" width="11px" height="1px").--mobile-hide
                // 4
                +e('rect').plus(x="80%" y="calc(20% - 5px)" width="1px" height="11px")
                +e('rect').plus(x="calc(80% - 5px)" y="20%" width="11px" height="1px")

                // 5
                +e('rect').plus(x="20%" y="calc(50% - 5px)" width="1px" height="11px").--mobile-hide
                +e('rect').plus(x="calc(20% - 5px)" y="50%" width="11px" height="1px").--mobile-hide
                // 6
                +e('rect').plus(x="40%" y="calc(50% - 5px)" width="1px" height="11px")
                +e('rect').plus(x="calc(40% - 5px)" y="50%" width="11px" height="1px")
                // 7
                +e('rect').plus(x="60%" y="calc(50% - 5px)" width="1px" height="11px").--mobile-hide
                +e('rect').plus(x="calc(60% - 5px)" y="50%" width="11px" height="1px").--mobile-hide
                // 8
                +e('rect').plus(x="80%" y="calc(50% - 5px)" width="1px" height="11px")
                +e('rect').plus(x="calc(80% - 5px)" y="50%" width="11px" height="1px")

                // 9
                +e('rect').plus(x="20%" y="calc(80% - 5px)" width="1px" height="11px").--mobile-hide
                +e('rect').plus(x="calc(20% - 5px)" y="80%" width="11px" height="1px").--mobile-hide
                // 10
                +e('rect').plus(x="40%" y="calc(80% - 5px)" width="1px" height="11px")
                +e('rect').plus(x="calc(40% - 5px)" y="80%" width="11px" height="1px")
                // 11
                +e('rect').plus(x="60%" y="calc(80% - 5px)" width="1px" height="11px").--flower.--mobile-hide
                +e('rect').plus(x="calc(60% - 5px)" y="80%" width="11px" height="1px").--flower.--mobile-hide
                // 12
                +e('rect').plus(x="80%" y="calc(80% - 5px)" width="1px" height="11px")
                +e('rect').plus(x="calc(80% - 5px)" y="80%" width="11px" height="1px")

        +e.header
            +e('a').link-create(@click="createTimer" href='javascript:void(0)', title='')
                span(v-if='createTimerShow')
                    span Отмена
                span(v-else-if='weHaveModificateTimer')
                    span Редактировать
                span(v-else)
                    span Создать свой

            +e.link-create(@click="acceptCreateTimer", v-if='stateWasModified', href='javascript:void(0)', title='')
                span Применить изменения

            +e.link-create(@click="publishNewTimer", v-if='weHaveModificateTimer', href='javascript:void(0)', title='').--release
                span Опубликовать
                //- b таймер

        +e('svg')(x="0px" y="0px" viewBox="0 0 705 705", :class='vueCircleClass').circle
            <circle class="st0" cx="352.5" cy="352.5" r="350.5"/>
            <circle class="st1" cx="352.5" cy="352.5" r="225.5"/>
            <circle class="st2" cx="70" cy="352.5" r="4"/>
            <circle class="st3" cx="70" cy="352.5" r="5"/>
            <circle class="st4" cx="70" cy="352.5" r="3"/>
            <circle class="st5" cx="70" cy="352.5" r="6"/>

        +e.clock(:class='vueClockClass', @click='editClock')
            +e('span').month {{ cl_month }}
            +e('span').day
                span {{ cl_days }}
                i.title {{ cl_days_title }}
            +e('span').hour {{ cl_hours }}
            +e('span').slash(v-if="!stateApp.preLoadingApp") :
            +e('span').minutes {{ cl_minutes }}
            +e('span').minutes(v-if="!stateApp.preLoadingApp") :
            +e('span').minutes {{ cl_seconds }}

            +icon('pen-solid').--clock-edit
            +e('span').clock-legend Изменить дату

            +e.clock-form-back(v-if='stateEditClock')
                +e('form').clock-form
                    +e('p').clock-title Когда мне остановить отсчёт?
                    +e('label').clock-label(for='clock_input_date') Дата:
                    +e('input').clock-input(ref='elClockInputDate', id='clock_input_date', type='date', tabindex='0')
                    +e('label').clock-error(for='clock_input_date' v-if='clockDateInputError') Выберите день
                    +e('label').clock-label(for='clock_input_time') Время:
                    +e('input').clock-input(ref='elClockInputTime', id='clock_input_time', type='time', tabindex='0')
                    +e('label').clock-error(for='clock_input_time' v-if='clockTimeInputError') Выберите время

                    +e.clock-form-link-wrap
                        +e('a').clock-form-link(href='javascript:void(0)', title='', @click='cancelEditClock' tabindex="0") Отмена
                        +e('a').clock-form-link--done(href='javascript:void(0)', title='', @click='acceptEditClock' tabindex="0") Готово

        +e.description(:class='descriptionPanel')
            //- TODO: +e('span').legend Изменить описание

            +e('h2').pre-heading(:class='vuePreHeadingClass', v-if="!stateEditPreHeading", @click='editPreHeading') {{ preHeadingMessage }}
                +icon('pen-solid').--heading-edit
            +e('div').description-input-wrapper(v-else)
                +e('input').pre-heading(ref='elInputPreHeading', id='elInputPreHeading', type='text', placeholder='Ваша локация', name='', v-model="preHeadingMessage", @blur='compleateEditPreHeading')
                +e('i').accept-edit-description.--pre-heading(:class='vueAcceptEditDescription')

            //- Заголовок
            +e('h1').heading(:class='vueHeadingClass', v-if="!stateEditHeading", @click='editHeading') {{ headingMessage }}
                +icon('pen-solid').--heading-edit
            +e('div').description-input-wrapper(v-else)
                +e('input').heading(ref='elInputHeading', id='elInputHeading', type='text', placeholder='Ваш заголовок', name='', v-model="headingMessage", @blur='compleateEditHeading')
                +e('i').accept-edit-description.--heading(:class='vueAcceptEditDescription')

            //- Описание
            +e('p').description-text(:class='vueDescriptionTextClass', v-if='!stateEditDescriptionText', @click='editDescriptionText') {{ descriptionTextMessage }}
                +icon('pen-solid').--heading-edit
            +e('div').description-input-wrapper(v-else)
                +e('input').description-text(ref='elInputDescriptionText', id='elInputDescriptionText', type='text', placeholder='Ваше описание', name='', v-model="descriptionTextMessage", @blur='compleateEditDescriptionText')
                +e('i').accept-edit-description.--description(:class='vueAcceptEditDescription')

            //- иконка сокрытия
            +e('a').hide-icon(@click='hideDescriptionPanel')

            +e.button-wrapper(:class='vueButtonClass' @click='editButton')
                +icon('pen-solid').--heading-edit
                //- div(title="", class="addeventatc b-button b-button--flower")
                a(title="", class="b-button b-button--flower", target="_blank" href="https://docs.google.com/document/d/1x3uTSNrawA5B4XWZx9VtCoww0vhDYTZMKjCpK2nFtnk/edit?usp=sharing")
                    //- TODO: вынести в кнопку
                    span Подать заявку
                    //- span(class="info start") 08/14/2018 03:00 AM
                    //- span(class="info end") 08/14/2018 3:30 AM
                    //- span(class="info timezone") Europe/Moscow
                    //- span(class="info title") {{ headingMessage }}
                    //- span(class="info description") {{ descriptionTextMessage }}
                    //- span(class="info location") Location of the event

            +e.clock-form-back(v-if='stateEditButton').--btn
                +e('form').clock-form
                    +e('p').clock-title Что будет делать главная кнопка?
                    +e('label').clock-label(for='btn-input-title-description') Текст кнопки:
                    +e('input').clock-input(ref='elClockInputDate', id='btn-input-title-description', type='text', tabindex='0')
                    +e('label').clock-error(for='btn-input-title-description' v-if='clockDateInputError') Поле не заполнено
                    +e('label').clock-label(for='btn-input-url-description') Ссылка:
                    +e('input').clock-input(ref='elClockInputTime', id='btn-input-url-description', type='text', tabindex='0')
                    +e('label').clock-error(for='btn-input-url-description' v-if='clockTimeInputError') Поле не заполнено

                    +e.clock-form-link-wrap
                        +e('a').clock-form-link(href='javascript:void(0)', title='', @click='cancelEditButton' tabindex="0") Отмена
                        +e('a').clock-form-link--done(href='javascript:void(0)', title='', @click='acceptEditButton' tabindex="0") Готово

        +e.wallpaper-side-bar(v-if='wallpaperSideBarOpen')
            +e('a').wallpaper-close(href='javascript:void(0)', @click='wallpaperPickClose')

            +e('label').wallpaper-label(for="input_File_Background") Добавить своё изображение
            +e('input').wallpaper-input(id='input_File_Background', type="file", name="background", @change="changeImageBackground")

            h5 Галерея:
            +e('ul').wallpaper-list
                +bg-item('road-sun.jpg', 'Солнечная дорога')
                +bg-item('trava.jpg', 'Батанический сад')
                +bg-item('spiderman.jpg', 'Человек паук')
                +bg-item('botanik.jpg', 'Божья коровка')
                +bg-item('man.jpg', 'Смотрящий вдаль')
                +bg-item('winter.jpg', 'Зима')
                +bg-item('flower.jpg', 'Кровавый цветок')
                +bg-item('forest.jpg', 'Лес')
                +bg-item('space.jpg', 'Рассвет галактики')
                +bg-item('abstract.jpg', 'Звёздное дыханье')

            //- превью для фонов, новые фоны
            //- плейсхолдеры с автором мб

        +e.share(:class='vueShareClass')
            +icon--link('vk').--share.--vk
            +icon--link('fb').--share

        +e('a').color-pick(href='javascript:void(0)', title='', @click='colorPick')
            +icon('paint')
            +e('span').legend Сменить цвет

        +e('a').wallpaper-pick(href='javascript:void(0)', title='', @click='wallpaperPick')
            +icon('image')
            +e('span').legend Выбрать фон

        +e.alert(v-show='alertIsOpen')
            +e.alert-text
                span Готово! Теперь ваша страница доступна по адресу:
                +e('a').alert-link(href='', title='', ref="alertLink") amedomary.tmweb.ru/1