//- //- ====================
//- //- Главная страница.
//- //- ====================

//- //- Используем стандартный шаблон Project
//- extends ./template/base_layout

//- block variables
//-     - var file_name = 'portfolio'
//-     - var pageWrapperClass = '--scroll'
//-     - var htmlClass = 'blue'

//- //- Модифицируем head
//- block head
//-     - var pageTitle = 'Portfolio';

//- //- Выводим попапы
//- block popup

//- //- Выводим content
//- block content
//-     include template/layout/header.pug
//-     include section/ui-kit/text-block.pug
//-     include template/layout/footer.pug

//-     +header({}).--no-back
//-     +b('main').main.--content.--blue
//-         .b-container
//-             +text-block()
//-                 h1 About me.

//-                 h2 My skills: - άλφα
//-                 ul
//-                     li Understanding of computer science fundamentals, including algorithms and data structures
//-                     li 5+ years industry experience building web applications
//-                     li Experience with HTML5/CSS3 and building component-oriented web user interfaces
//-                     li Experience with React, Angular or equivalent template languages
//-                     li Experience with Javascript in browser and server (Node.js)
//-                     li Experience with Git
//-                     li Experience using node MVC frameworks, such as Express.js or equivalent
//-                     li Experience in build tools such as Npm, Gulp, Sass, Less, Pug, Webpack, Bower, Yarn Browserify or equivalent
//-                     li Experience delivering solutions that are compatible across browsers
//-                     li Experience with mobile-first responsive design
//-                     li Understanding of web page performance and building web applications at scale
//-                     li Experience using RESTful APIs
//-                     li Enjoys working with remote/distributed teams
//-                     li Excellent troubleshooting skills
//-                     li Excellent communication skills

//-                 h2 My arts:
//-                 ul
//-                     li comming soon

//-                 h2 My links:
//-                 ul
//-                     li vk.com/amedomary
//-     +footer()
